.ui.grid {
  height: 95vh;
}

.dashboard-wrapper {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.todolist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0px;
}

#instructions {
  padding: 0;
  margin: 0;
  margin-top: 10px;

}
.instructions-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.instructions-hidden {
  opacity: 0;
  transition: all 250ms linear;
}

@media only screen and (max-width: 767px) {
  .dashboard-wrapper {
    overflow-y: auto !important;
  }
}

/* Landscape mode for modern smartphones  */
@media only screen and (max-height: 414px) {
  .dashboard-wrapper {
    overflow-y: auto !important;
  }
}
