.ui.grid {
  height: 93vh;
}

.dashboard-wrapper {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 767px) {
  .dashboard-wrapper {
    overflow-y: auto !important;
  }
}
