.color-choice {
  margin: 4px !important;
  cursor: pointer;
  transition: all 0.3s !important;
}

.color-choice:hover {
  transform: scale(1.2);
}

#active {
  transform: scale(1.4) !important;
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.modal-header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
