/* RESPONSIVE BEHAVIOUR */

/* small screen */

.landingPage h1 {
  font-family: Pacifico, sans-serif;
  font-size: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: #084541;
  flex-direction: column;
}

.navbar a {
  color: #084541 !important;
  font-size: 18px !important;
  margin-top: 20px;
}

h3 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #686868;
}

.message ul {
  font-size: 24px;
  text-align: left;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #949494;
}

.message {
  margin: 3vw;
}

.interface-screenshot {
  margin-top: 0px;
  height: 60vh;
  background-image: url("../../images/interface.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-wave {
  clip-path: polygon(
    0 2vw,
    100% 0,
    100% 100%,
    0 calc(100%)
  );
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2vh;
  height: 20vh;
  background: #05A89E;
}

.bottom-wave a {
  color: #084541;
}

.bottom-wave h4 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #084541;
  margin: 0;
}


.beautiful {
  font-family: Courgette, cursive;
}

.signature {
  position: fixed;
  bottom: 2px;
  right: 2px;
}

/* medium screen */
@media only screen and (min-width: 780px) {
  .navbar {
    height: 15vh !important;
    flex-direction: row;
  }
  .message {
    margin: 10px 10px 10px 0px !important;
  }

  .interface-screenshot {
    margin-top: 0px !important;
    height: 400px !important;
  }

  .landingMessage {
    margin-top: 5vh !important;
    height: 60vh !important;
  }

  .bottom-wave {
    margin-top: 8vh !important;
    height: 15vh !important;
  }
}

/* LARGE SCREENS */
@media only screen and (min-width: 900px) {

  .landingPage {
    max-width: 100vw;
  }

  .navbar {
    flex-direction: row !important;
  }

  .landingMessage {
    height: 70vh !important;
  }

  .message ul {
    font-size: 30px !important;
  }

  .message {
    margin: 40px 40px 40px 0px !important;
  }

  .interface-screenshot {
    margin-top: 10px !important;
    height: 400px;
    background-image: url("../../images/interface.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .bottom-wave {
    margin-top: 2vh !important;
    height: 10vh !important;
  }
}
