.landingPage {
  width: 100vw;
}

.landingPage h1 {
  font-family: Pacifico, sans-serif;
  font-size: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #084541;
  height: 20vh;
}

.navbar .logo {
  color: #084541 !important;
  font-size: 18px !important;
  margin-top: 20px;
}


.landingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageContainer {
  height: 55vh;
  display: flex;
  align-items: center;
}

.screenshotContainer {
  height: 55vh;
  display: flex;
  align-items: center;
}


.message h3 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #686868;
  text-align: center;
}

.message ul {
  font-size: 24px;
  text-align: left;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #949494;
  text-align: center;
  position: relative;
  left: -20px;
}

.message {
  margin: 3vw;
}

.interface-screenshot {
  margin-top: 0px;
  height: 400px;
  width: 600px;
  background-image: url("../../images/interface.png");
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-wave {
  width: 100vw;
  margin-top: 15vh;
  height: 10vh;
  background: #05A89E;
}

.bottom-wave a {
  color: #084541;
}

.bottom-wave h4 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #084541;
  margin: 0;
}

@media only screen and (max-width: 910px) {
  .landingMessage {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
    height: 23vh;
  }

}

@media only screen and (max-width: 600px) {
  .interface-screenshot {
    width: 95vw;
  }
}
