/* small screen */

.landingPage {
  height: 100vh;
  width: 100vw;
}

.landingPage h1 {
  font-family: Pacifico, sans-serif;
  font-size: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  color: #084541;
  flex-direction: column;
  height: 25vh;
}

.navbar .logo {
  color: #084541 !important;
  font-size: 18px !important;
  margin-top: 20px;
}

.message h3 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #686868;
}

.message ul {
  font-size: 24px;
  text-align: left;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #949494;
}

.message {
  margin: 3vw;
}

.interface-screenshot {
  margin-top: 0px;
  height: 60vh;
  background-image: url("../../images/interface.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-wave {
  width: 100vw;
  margin-top: 5vh;
  height: 15vh;
  background: #05A89E;
}

.bottom-wave a {
  color: #084541;
}

.bottom-wave h4 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #084541;
  margin: 0;
}


.beautiful {
  font-family: Courgette, cursive;
}

.signature {
  position: relative;
  top: 8vh;
  left: 0.5vw;
}

/* medium screen */
@media only screen and (min-width: 780px) {
  .landingPage {
    overflow: hidden;
  }

  .navbar {
    height: 15vh !important;
    flex-direction: row;
  }

  .message {
    margin: 10px 10px 0px 10px !important;
  }

  .interface-screenshot {
    margin-top: 0px !important;
    height: 400px !important;
  }

  .landingMessage {
    margin-top: 5vh !important;
    height: 60vh !important;
  }

  .bottom-wave {
    margin-top: 5vh !important;
    height: 15vh !important;
  }
}

/* LARGE SCREENS */
@media only screen and (min-width: 900px) {

  .landingPage {
    overflow: hidden;
  }

  .navbar {
    flex-direction: row !important;
  }

  .landingMessage {
    height: 70vh !important;
  }

  .message ul {
    font-size: 29px !important;
  }

  .message {
    margin-top: 2.5vw !important;
  }

  .interface-screenshot {
    margin-top: 10px !important;
    height: 400px;
    background-image: url("../../images/interface.png");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .bottom-wave {
    margin-top: 5vh !important;
    height: 25vh !important;
  }

}
