.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#edit-instructions {
  font-size: 12px;
  margin-top: 8px;
  color: teal;
}

#projects-list {
  max-height: 300px;
  overflow-y: auto;
}


@media only screen and (max-width: 780px) {
  #projects-list {
    max-height: 200px;
  }
}
