.todoContainer {
    background-color: teal;
    width: 100vw;
}

.container {
  width: 55vw !important;
}

.container h3 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: whitesmoke;
}

#instructions {
  margin-top: 17px;
  color: #084541;
  text-align: center;
}
